.container{
    height: 100vh;
    width: auto;
    border-color: blueviolet;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    align-content: center;
    justify-content: center;

}


.cell{
    border: 1px solid black;
    transition: all .5s linear;
}

.hover {
    background-color: black;
    transition: background-color 1;
}