.container{
    display: grid;
    height: 100vh;
    width: auto;
    border-color: blueviolet;
    background-color: whitesmoke;

}


.cell{
    border: 1px solid black;
    padding: 3%;
    transition: all .5s linear;
}

.hover {
    background-color: black;
    transition: background-color 1;
}

